<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/style.css"  />
	<link rel="stylesheet" type="text/css" media="screen" href="css/nivo-slider.css" />	
	<link rel="stylesheet" type="text/css" media="screen" href="css/nivo-slider_user.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="simply_scroll/jquery.simplyscroll-1.0.4.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="scrollpane/jquery.jscrollpane.css" />
	
	<script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
	<script type="text/javascript" src="simply_scroll/jquery.simplyscroll-1.0.4.min.js"></script>
	<script type="text/javascript" src="scrollpane/jquery.jscrollpane.min.js"></script>
	<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
	
	<script src="js/work.js" type="text/javascript"></script>	
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">	
</head>
<body>
<script type="text/javascript">

</script>
<div class="wrapper">
	<div class="wrap_menu">
		<div class="menu">
			<div class="multilingual">
				<a href="javascript:void(0);" class="ru"></a>
				<a href="javascript:void(0);" class="ua destroy"></a>
				<a href="javascript:void(0);" class="en destroy"></a>
			</div>
			<a href="#about" class="logo"></a>
			<ul id="scrollnavigation">
				<li class="active">
					<div>
						<a href="#about">
							<b>Услуги</b>
							<span></span>
						</a>
					</div>
				</li>
				<li>
					<div>
						<a href="#advantages">
							<b>Преимущества</b>
							<span></span>
						</a>
					</div>
				</li>
				<li>
					<div>
						<a href="#projects">
							<b>Проекты</b>
							<span></span>
						</a>
					</div>
				</li>
				<li>
					<div>
						<a href="#solutions">
							<b>Решения</b>
							<span></span>
						</a>
					</div>
				</li>
				<li>
					<div>
						<a href="#press_center">
							<b>Пресс-центр</b>
							<span></span>
						</a>
					</div>
				</li>
				<li>
					<div>
						<a href="#guarabtee">
							<b>Гарантии</b>
							<span></span>
						</a>
					</div>
				</li>
				<li>
					<div>
						<a href="#feedback">
							<b>Контакты</b>
							<span></span>
						</a>
					</div>
				</li>
			</ul>
			<div class="social_networks">
				<a href="http://www.facebook.com/mk.engineering" class="f"></a>
				<a href="http://twitter.com/MKEngineering" class="t"></a>
				<a href="http://mk-engineering.blogspot.com/" class="w"></a>
			</div>
		</div>
	</div>
	<div class="wrap_about hyper_stage" id="about">
		<div class="inside">
			<div class="wrap_nivoslider">
				<div class="about_company">
					<p><b>МК Инжиниринг</b> – поставщик комплексных аппаратных и программных решений различного масштаба.</p>
					<p>Компания создает информационные системы c учетом  отраслевой и организационной специфики деятельности заказчика и выполняет все виды работ в процессе их проектирования и эксплуатации.</p>
				</div>
				<div class="gallery_wrap_1">
					<div class="gallery_1">
						 <img src="img/nivo_slider/list1.jpg" alt="" />
						 <img src="img/nivo_slider/list2.jpg" alt="" />
						 <img src="img/nivo_slider/list3.jpg" alt="" />
						 <img src="img/nivo_slider/list4.jpg" alt="" />
						 <img src="img/nivo_slider/list5.jpg" alt="" />
					</div>
				</div>
				<div id="gallery_wrap_1-caption-0" class="nivo-html-caption">Some Title</div>
			</div>

			<div id="ANT_ac" class="wrap_accordion" style="float:left;">
				<div class="middle">
					<h1 class="h_height_h1_1"><b>Инфраструктурные решения</b></h1>
					<a href="javascript:void(0);" class="arrow show"></a>
						<div class="accordion" >
							<h3><a href="#ANT">Инженерные системы</a></h3>
							<div class="acco_content">
								<div class="jp_scroll_place">
								<p>
								Развитая инфраструктура жизнеобеспечения составляет прочный фундамент современных предприятий и организаций. Комплексная интеграция и диспетчеризация систем инженерного обеспечения и технических средств обеспечивает оптимальные условия стабильного функционирования предприятия, а также его безопасной и комфортной жизнедеятельности.								
								</p>								
								</div>
								<a href="javascript:void(0);" onclick="show_dialog('.container_1' , 775);" class="detail">подробнее</a>
							</div>
							<h3><a href="#ANT">Сети и телекоммуникационные системы</a></h3>
							<div class="acco_content">
								<div class="jp_scroll_place">
								<p>
								Своевременный и надежный обмен информацией определяет потребность в построении эффективной сетевой инфраструктуры, которая должна удовлетворять возрастающим требованиям организации. В условиях стремительного роста числа пользователей информационных систем и объема вычислений, главными качествами корпоративных сетей передачи данных становятся производительность, масштабируемость, безопасность и управляемость сети.
								</p>								
								</div>	
								<a href="javascript:void(0);" onclick="show_dialog('.container_2' , 775)" class="detail">подробнее</a>
							</div>
							<h3><a href="#ANT">Обработка и хранение данных</a></h3>
							<div class="acco_content">
								<div class="jp_scroll_place">
								<p>
								Быстрый рост объемов информационных ресурсов требует принципиально новых подходов к хранению и обработке данных. Информация - ценная сущность, стоимость ее восстановления равна стоимости приобретения. Проблема сохранности деловой информации имеет огромное значение в современном бизнесе, определяя потребности предприятий и организаций в проведении соответствующих мероприятий и создании дополнительных ИТ-служб.
								</p>								
								</div>								
								<a href="javascript:void(0);" onclick="show_dialog('.container_3' , 775)" class="detail">подробнее</a>
							</div>
							<h3><a href="#ANT">Центры обработки данных</a></h3>
							<div class="acco_content">
								<div class="jp_scroll_place">
								<p>
								это отказоустойчивая комплексная централизованная система, обеспечивающая автоматизацию бизнес-процессов с высоким уровнем производительности и качеством предоставляемых сервисов.
								</p>								
								</div>								
								<a href="javascript:void(0);" onclick="show_dialog('.container_4' , 775)" class="detail">подробнее</a>
							</div>
							<h3><a href="#ANT">Информационная структура</a></h3>
							<div class="acco_content">
								<div class="jp_scroll_place">
								<p>
								Многие компании и организации в силу различных причин пока не планируют внедрять ERP- или CRM-системы, ограничиваясь только вспомогательными сервисами, обеспечивающими начальный уровень электронного документооборота. Примерами таких компаний служат правительственные организации, вновь создаваемые компании, компании на начальной стадии автоматизации или не автоматизированные вообще.
								</p>								
								</div>								
								<a href="javascript:void(0);" onclick="show_dialog('.container_5' , 775)" class="detail">подробнее</a>
							</div>
							<h3><a href="#ANT">Видеоконференцсвязь</a></h3>
							<div class="acco_content">
								<div class="jp_scroll_place">
								<p>
								современный ИТ-инструмент для визуального общения и  обмена внутрикорпоративной информацией между людьми, находящимися на расстоянии друг от друга.
								</p>								
								</div>								
								<a href="javascript:void(0);" onclick="show_dialog('.container_6' , 775)" class="detail">подробнее</a>
							</div>
							<h3><a href="#ANT">Информационная безопасность</a></h3>
							<div class="acco_content">
								<div class="jp_scroll_place">
								<p>
								Проблема противостояния риску потери информационных ресурсов является одной из приоритетных для бизнеса. Высокая ценность информации обусловливает необходимость обеспечения ее конфиденциальности, целостности и доступности, а также работоспособности автоматизированных систем.
								</p>								
								</div>								
								<a href="javascript:void(0);" onclick="show_dialog('.container_7' , 775)" class="detail">подробнее</a>
							</div>
							<h3><a href="#ANT">IP телефония</a></h3>
							<div class="acco_content">
								<div class="jp_scroll_place">
								<p>
								современный ИТ-инструмент, используемый  для голосовой бизнес-коммуникации и передачи корпоративной  информации посредством интернет.
								</p>								
								</div>								
								<a href="javascript:void(0);" onclick="show_dialog('.container_8' , 775)" class="detail">подробнее</a>
							</div>
							<h3><a href="#ANT" >Радиосвязь</a></h3>
							<div class="acco_content">
								<div class="jp_scroll_place">
								<p>
								Cras dictum. Pellentesque habitant morbi tristique senectus et netus
								et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
								faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
								mauris vel est.
								Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
								Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
								inceptos himenaeos.
								</p>								
								</div>								
								<a href="javascript:void(0);" onclick="show_dialog('.container_9' , 775)" class="detail">подробнее</a>
							</div>
						</div>					
				</div>					
				<div class="bottom"></div>
			</div>
			
			
			<div style="float:right">
				<div class="wrap_accordion">
					<div class="middle">
						<h1><b>Комплексные программные решения</b> (it solutions)</h1>
						<a href="javascript:void(0);" class="arrow show"></a>
							<div class="accordion">
								<h3><a href="#">Управление взаимоотношениями <br /> с клиентами </a></h3>
								<div class="acco_content">
									<div class="jp_scroll_place">
									<p>
									Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
									ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
									amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
									odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
									</p>
									</div>
									<a href="javascript:void(0);" class="detail">подробнее</a>
								</div>
								<h3><a href="#">Управление финансовыми документами</a></h3>
								<div class="acco_content">
									<div class="jp_scroll_place">
									<p>
									Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
									purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
									velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
									suscipit faucibus urna.
									</p>
									</div>
									<a href="javascript:void(0);" class="detail">подробнее</a>
								</div>
								<h3><a href="#">Системы электронного документооборота</a></h3>
								<div class="acco_content">
									<div class="jp_scroll_place">
									<p>
									Cras dictum. Pellentesque habitant morbi tristique senectus et netus
									et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
									faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
									mauris vel est.
									</p>
									<p>
									Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
									Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
									inceptos himenaeos.
									</p>
									</div>
									<a href="javascript:void(0);" class="detail">подробнее</a>
								</div>
								<h3><a href="#">Управление ресурсами предприятия </a></h3>
								<div class="acco_content">
									<div class="jp_scroll_place">
									<p>
									Cras dictum. Pellentesque habitant morbi tristique senectus et netus
									et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
									faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
									mauris vel est.
									</p>
									<p>
									Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
									Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
									inceptos himenaeos.
									</p>
									</div>
									<a href="javascript:void(0);" class="detail">подробнее</a>
								</div>
							</div>					
					</div>					
					<div class="bottom"></div>
				</div>
			
				<div class="wrap_accordion">
					<div class="middle">
						<h1><b>Техническое обслуживание</b> (техническая поддержка)</h1>
						<a href="javascript:void(0);" class="arrow hide"></a>
			
					</div>					
					<div class="bottom"></div>
				</div>
			
				<div class="wrap_accordion">
					<div class="middle">
						<h1><b>Комплексные поставки вычислительной техники</b></h1>
						<a href="javascript:void(0);" class="arrow hide"></a>
			
					</div>					
					<div class="bottom"></div>
				</div>
			</div>	
		</div>
	</div>
	<div class="wrap_advantages hyper_stage" id="advantages">
		<div class="inside">
			<table class="title">
				<tr>
					<td></td>
					<td class="text">
						Преимущества		
					</td>
					<td></td>
				</tr> 
			</table>
			<ul class="advantages">
				<li>
					<div class="head">Бизнес-экспертиза</div>
					<ul>
						<li>
							Постановка бизнес-задач совместно с заказчиком.
						</li>
						<li>
							Анализ основных принципов бизнеса заказчика и его стратегических целей.
						</li>
						<li>
							Технический аудит информационной системы компании на предмет ее соответствия потребностям и задачам бизнеса заказчика.						
						</li>
						<li>
							Структурирование бизнес-процессов компании-заказчика. 
						</li>
						<li>
							Разработка технических решений с учетом потенциального развития и расширения деятельности компании-заказчика.
						</li>
					</ul>
				</li>
				<li>
					<div class="head">Опыт </div>
					<ul>
						<li> 
							Создание гибкой ИТ-инфраструктуры, способной меняться в соответствии  с появлением новых задач заказчика и тенденциями развития технологий.
						</li>
						<li>
							Создание и сопровождение географически распределенных систем.
						</li>
						<li>
							Разработка многоплатформенных систем.						
						</li>
						<li>
							Реализация проектов различного масштаба на базе оборудования различных производителей.
						</li>
						<li>
							Подбор оборудования с учетом  особенностей существующей инфраструктуры заказчика.
						</li>
						<li>
							Разработка технических решений, оптимальных в пределах выделенного  бюджета.
						</li>
					</ul>
				</li>
				<li>
					<div class="head">Профессионализм</div>
					<ul>
						<li>
							Сертифицированные специалисты в штате 
						</li>
						<li>
							Учет уровня зрелости информационных технологий компании-заказчика.
						</li>
						<li>
							Интегрирование новых системных решений с учетом особенностей существующей информационной системы компании-заказчика.
						</li>
						<li>
							Предложение заказчику нескольких вариантов решения бизнес-задачи на выбор.
						</li>
						<li>
							Проведение предварительного тестирования внедряемых решений.
						</li>
					</ul>
				</li>
				<li>
					<div class="head">Возможности </div>
					<ul>
						<li>
							Создание инфраструктурных ИТ-решений на основе широкого ассортимента аппаратных и программных продуктов.
						</li>
						<li>
							Сервисный договор;						
						</li>
						<li>
							Гарантийное и послегарантийное сопровождение;
						</li>
						<li>
							Использование различных финансовых схем (инструментов). 
						</li>
						<li>
							Проведение обучения персонала заказчика.
						</li>
						<li>
							Система доставки ИТ-сервисов до потребителя.
						</li>
					</ul>
				</li>
				<!--
				<li>
					<h1>Ударение просветляет урбанистический амфибрахий.</h1>
					Безусловно, понятие политического участия фактически символизирует марксизм, такими словами завершается послание Федеральному Собранию.
				</li>
				<li>
					<h1>Политическое лидерство, короче говоря. </h1>
					Согласно теории Э.Тоффлера ("Шок будущего"), рационально-критическая парадигма теоретически формирует классический 
				</li>
				<li>
					<h1>Элемент политического процесса традиционно</h1>
					Социально-экономическое развитие, особенно в условиях политической нестабильности, теоретически иллюстрирует классический авторитаризм, говорится в докладе ОБСЕ.
				</li>
				<li>
					<h1>Ударение просветляет урбанистический амфибрахий.</h1>
					Разновидность тоталитаризма верифицирует функциональный механизм власти, утверждает руководитель аппарата Правительства. Гуманизм неизбежен. 
				</li>-->				
			</ul>
			<a href="#about" class="arrow_top"></a>
		</div>
	</div>
	<div class="wrap_projects hyper_stage" id="projects">
		<div class="inside">		
			<table class="title">
				<tr>
					<td></td>
					<td class="text">
						ПРОЕКТЫ
					</td>
					<td></td>
				</tr> 
			</table>
			<ul class="projects">
				<li>
					<a href="javascript:void(0);">
						В заключении добавлю, парафраз аннигилирует конструктивный
					</a>
					Ритм, что нельзя сказать о нередко манерных эпитетах.
				</li>
				<li>
					<a href="javascript:void(0);">
						Цикл многопланово приводит
					</a>
					Комбинаторное приращение дает акцент, однако Дальнейшее развитие приемов декодирования мы находим в работах академика В.Виноградова.
				</li>
				<li>
					<a href="javascript:void(0);">
						Поток сознания, как справедливо считает
					</a>
					Донна метафорическим образом циркуля.
				</li>
				<li>
					<a href="javascript:void(0);">
						Ударение просветляет урбанистический амфибрахий
					</a>
					Из нетрадиционных способов циклизации обратим внимание на случаи, когда первое
				</li>
				<li>
					<a href="javascript:void(0);">
						Цикл многопланово приводит
					</a>
					Ритм, что нельзя сказать о нередко манерных эпитетах.
				</li>
				<li>
					<a href="javascript:void(0);">
						Реципиент аннигилирует хорей
					</a>
					Заимствование, по определению представляет собой скрытый смысл и передается в этом стихотворении.
				</li>
				<li>
					<a href="javascript:void(0);">
						Поэтика недоступно представляет собой дактиль
					</a>
					Донна метафорическим образом циркуля.
				</li>
				<li>
					<a href="javascript:void(0);">
						Первое полустишие диссонирует конструктивный реципиент
					</a>
					Из нетрадиционных способов циклизации обратим внимание на случаи, когда первое полустишие.
				</li>
			</ul>	
			<a href="#advantages" class="arrow_top"></a>
		</div>
	</div>
	<div class="wrap_solutions hyper_stage" id="solutions">
		<div class="inside">
			<table class="title">
				<tr>
					<td></td>
					<td class="text">
						Решения
					</td>
					<td></td>
				</tr> 
			</table>
			<div class="solutions_unit">
				<div class="number">
					кейс
					<div class="number_unit">1</div>
				</div>
				<img src="img/solutions_img_1.png" alt="" />
				<div class="text">
				Теорема Ферма программирует максимум, дальнейшие выкладки оставим студентам в качестве несложной домашней работы. Сравнивая две формулы, приходим к следующему заключению:
				</div>
				<a href="javascript:void(0);">Подробнее </a>
			</div>
			<div class="solutions_unit">
				<div class="number">
					кейс
					<div class="number_unit">2</div>
				</div>
				<img src="img/solutions_img_2.png" alt="" />
				<div class="text">
					Теорема Ферма программирует максимум, дальнейшие выкладки оставим студентам в качестве несложной домашней работы. Сравнивая две формулы, приходим к следующему заключению:
				</div>
				<a href="javascript:void(0);">Подробнее </a>
			</div>	
			<div class="solutions_unit">
				<div class="number">
					кейс
					<div class="number_unit">3</div>
				</div>
				<img src="img/solutions_img_3.png" alt="" />
				<div class="text">
					Теорема Ферма программирует максимум, дальнейшие выкладки оставим студентам в качестве несложной домашней работы. Сравнивая две формулы, приходим к следующему заключению: 
				</div>
				<a href="javascript:void(0);">Подробнее </a>
			</div>
			<div class="solutions_unit">
				<div class="number">
					кейс
					<div class="number_unit">4</div>
				</div>
				<img src="img/solutions_img_4.png" alt="" />
				<div class="text">
					Теорема Ферма программирует максимум, дальнейшие выкладки оставим студентам в качестве несложной домашней работы. Сравнивая две формулы, приходим к следующему заключению: 
				</div>
				<a href="javascript:void(0);">Подробнее </a>
			</div>
			<div class="solutions_unit">
				<div class="number">
					кейс
					<div class="number_unit">5</div>
				</div>
				<img src="img/solutions_img_5.png" alt="" />
				<div class="text">	
					Теорема Ферма программирует максимум, дальнейшие выкладки оставим студентам в качестве несложной домашней работы. Сравнивая две формулы, приходим к следующему заключению: 
				</div>
				<a href="javascript:void(0);">Подробнее </a>
			</div>
			<div class="solutions_unit">
				<div class="number">
					кейс
					<div class="number_unit">6</div>
				</div>
				<img src="img/solutions_img_6.png" alt="" />
				<div class="text">
					Теорема Ферма программирует максимум, дальнейшие выкладки оставим студентам в качестве несложной домашней работы. Сравнивая две формулы, приходим к следующему заключению: 
				</div>
				<a href="javascript:void(0);">Подробнее </a>
			</div>
			<a href="#projects" class="arrow_top"></a>
		</div>
	</div>

	<div class="wrap_press_center hyper_stage" id="press_center">
		<div class="inside">
			<table class="title">
				<tr>
					<td></td>
					<td class="text">
						Пресс-центр
					</td>
					<td></td>
				</tr> 
			</table>
			<ul class="press_center">
				<li>
					<a href="javascript:void(0);">Мифопоро ждающее текстовое устро йство выбирает рецип иент</a>
				</li>
				<li class="pdf">
					<a href="javascript:void(0);">Его герой, пишет Бахтин, филологическо</a>
				</li>
				<li>
					<a href="javascript:void(0);">Палимпсест, как бы это ни казалось парадоксальным</a>
				</li>
				<li>
					<a href="javascript:void(0);">Вопрос о популярности произведений того или </a>
				</li>
				<li>
					<a href="javascript:void(0);">Басня непосредственно отталкивает лирический </a>
				</li>
				<li>
					<a href="javascript:void(0);">Мифопоро ждающее текстовое устро йство выбирает рецип иент</a>
				</li>
			</ul>
			<a href="#solutions" class="arrow_top"></a>
		</div>
	</div>
	
	<div class="wrap_guarabtee hyper_stage" id="guarabtee">
		<div class="inside">
			<table class="title">
				<tr>
					<td></td>
					<td class="text">
						Гарантии
					</td>
					<td></td>
				</tr> 
			</table>
			<div class="h_twocols">
			<div class="unit">
				<h1>Стандарты, используемые компанией «МК Инжиниринг»</h1>
				<p>
					Мы относимся к системной интеграции как к проекту, у которого есть определенные цели, задачи, сроки, стоимость и результат.
					<br /><br />
					Опираясь на мировые стандарты в области управления качеством серии ISO компания «МК Инжиниринг» разрабатывает Свод рекомендаций по управлению качеством. В частности, данный документ  будет содержать рекомендации по документированию внесений изменений и их результатов, взаимодействий с поставщиками, обеспечению устойчивости и информационной безопасности….что еще?????
				</p>
			</div>
			<div class="unit">
				<h1>Стандарты, используемые компанией «МК Инжиниринг»</h1>
				<ul>
					<li>PMBoK – стандарт управления проектами в компании </li>
					<li>CobiT и ITIL – стандарты созданию и функционированию информационных систем, включающих в себя программно-аппаратные средства, персонал и технологии.</li>
					<li>IEEE –нормативная основа для разработки сценариев для тестирования информационных систем.</li>
					<li>ГОСТ 34.601-90 – стандарт предусматривает стадии и этапы создания автоматизированной системы</li>
					<li>ISO/IEC 12207:1995 и российский аналог — ГОСТ Р ИСО/МЭК 12207-99  – стандарты,  определяющие процессы, действия и задачи, необходимые для создания ПО.</li>
				</ul>
			</div>
			</div>
			<div class="h_pt20" >
			<table class="title">
				<tr>
					<td></td>
					<td class="text" style="font-size:18px;">
						Партнеры
					</td>
					<td></td>
				</tr> 
			</table>
			<div>
				<ul id="simply_scroll_carousel">
				<li class="sc_1"  ><a href="javascript:void(0);"><img src="img/partner_0001.png" alt="" /></a></li>
				<li class="sc_2"  ><a href="javascript:void(0);"><img src="img/partner_0002.png" alt="" /></a></li>
				<li class="sc_3"  ><a href="javascript:void(0);"><img src="img/partner_0003.png" alt="" /></a></li>
				
				<li class="sc_7"  ><a href="javascript:void(0);"><img src="img/partner_0007.png" alt="" /></a></li>
				<li class="sc_8"  ><a href="javascript:void(0);"><img src="img/partner_0008.png" alt="" /></a></li>
				<li class="sc_6"  ><a href="javascript:void(0);"><img src="img/partner_0006.png" alt="" /></a></li>

				<li class="sc_5"  ><a href="javascript:void(0);"><img src="img/partner_0005.png" alt="" /></a></li>
				<li class="sc_4"  ><a href="javascript:void(0);"><img src="img/partner_0004.png" alt="" /></a></li>
				<li class="sc_9"  ><a href="javascript:void(0);"><img src="img/partner_0009.png" alt="" /></a></li>
	
				<li class="sc_11" ><a href="javascript:void(0);"><img src="img/partner_0011.png" alt="" /></a></li>
				<li class="sc_10" ><a href="javascript:void(0);"><img src="img/partner_0010.png" alt="" /></a></li>
				</ul>				
			</div>
			</div>
		</div>
	</div>
	
	<!--
	<div class="wrap_partner hyper_stage" id="partner">
		<div class="inside">
			<table class="title">
				<tr>
					<td></td>
					<td class="text">
						Партнеры
					</td>
					<td></td>
				</tr> 
			</table>
			<img src="img/partners.png" alt="" />
			<a href="#press_center" class="arrow_top"></a>
		</div>
	</div>-->
	
	<div class="wrap_feedback hyper_stage" id="feedback">
		<div class="inside">
			<table class="title">
				<tr>
					<td></td>
					<td class="text">
						Контакты
					</td>
					<td></td>
				</tr> 
			</table>
			<div class="data">
				<h1>МК Инжиниринг</h1>
				<p>01021, Киев, <br />
					Кловский спуск, 13, оф.25
				</p>
				<p>
					<i>Тел.:</i>		(044) 222-78-47 <br />
					<i>Факс.:</i>		(044) 222-78-47
				</p>
				<a href="#contact" class="in_map">мы на карте</a>
			</div>
			<div class="feedback">
				<div class="header">
					<p>Чтобы задать нам вопрос либо высказать свои пожелания, пожалуйста, заполните все поля формы.</p>	
				</div>
				<div class="middle">
					<div class="unit">
						<label>Введите Ваше имя:</label>
						<input type="text"/>
					</div>
					<div class="unit">
						<label>Введите Ваш e-mail:</label>
						<input type="text"/>
					</div>
					<div class="unit">
						<label>Тема сообщения:</label>
						<input type="text"/>
					</div>
					<div class="unit">
						<label>Введите текст сообщения</label>
						<textarea rows="10" cols="45" name="text"> </textarea>
					</div>
					<div class="unit">
						<div class="btn" style="margin-left:126px;">
							<a href="javascript">ОТПРАВИТЬ</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	
	<div class="wrap_contact hyper_stage" id="contact">
		<div class="inside">
			<div class="map">
<iframe width="675" height="369" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;msid=212456397043621652114.0004ad0ae599eab40871e&amp;hl=ru&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=50.437049,30.535748&amp;spn=0.005043,0.014462&amp;z=16&amp;output=embed"></iframe>
			</div>
		</div>
	</div>
	<div class="wrap_footer">
		<div class="inside">
			<div class="footer">
				МК Инжиниринг © 2008 | Все права защищены 
				
				<a href="http://invogroup.com" class="footer_copyright">Developed by</a>
				
			</div>
		</div>
	</div>
</div>


<!-- POPAPS -->


<div class="container_1 pop_up_info" >
	<img src="img/solutions_img_6.png" alt="" />
	<h3>Компания «МК инжиниринг» осуществляет весь комплекс работ и услуг по разработке, внедрению, технической поддержке и автоматизации систем инженерного 	обеспечения в единую информационную систему предприятия: </h3>
	<ul>
		<li>аудит и предпроектное обследование объекта;</li>
		<li>подготовка технического задания на разработку проекта;</li>
		<li>проектирование систем инженерного обеспечения;</li>
		<li>поставка, монтаж и установка оборудования и программного обеспечения;</li>
		<li>тестирование систем;</li>
		<li>ввод систем в эксплуатацию;</li>
		<li>техническое сопровождение;</li>
		<li>сервисное обслуживание и модернизация;</li>
		<li>обучение и консультации.</li>
	</ul>
	<h3>Спектр предлагаемых решений охватывает все элементы технической инфраструктуры предприятия:</h3>
	<ul>
		<li>системы кондиционирования и вентиляции воздуха;</li>
		<li>системы управления микроклиматом;</li>
		<li>системы теплоснабжения и электроснабжения;</li>
		<li>системы сбалансированного электропитания;</li>
		<li>структурированные кабельные системы;</li>
		<li>системы физической и технологической безопасности.</li>
	</ul>
	<p>
		Разработка и внедрение инженерных решений производится как самостоятельно, так и в рамках комплексных интеграционных проектов с привлечением компаний субподрядчиков.
	</p>
</div>


<div class="container_2 pop_up_info">
	<img src="img/dialog_img_1_2.png" alt=" " />
	<h3>Компания «МК Инжиниринг» предлагает сетевые и телекоммуникационные решения любого уровня сложности, включая:</h3>
	<ul>
		<li>локальные вычислительные сети;</li>
		<li>территориально распределенные мультисервисные сети;</li>
		<li>структурированные кабельные системы;</li>
		<li>системы видеоконференцсвязи;</li>
		<li>беспроводные сети;</li>
		<li>системы учрежденческой телефонной связи;</li>
		<li>распределенные корпоративные телефонные сети;</li>
		<li>системы обеспечения безопасности в сети;</li>
		<li>системы мониторинга и управления сетями. </li>
	</ul>
	<h3>Решения по построению сетевой и телекоммуникационной инфраструктуры компании обеспечивают:</h3>
	<ul>
		<li>оптимизацию затрат на содержание сетевой и телекоммуникационной инфраструктуры;</li>
		<li>обеспечение удаленного доступа к корпоративным ресурсам;</li>
		<li>передачу разнородных цифровых потоков;</li>
		<li>высококачественный доступ в Интернет;</li>
		<li>комплексную защиту от несанкционированного доступа;</li>
		<li>гарантированное качество обслуживания. </li>
	</ul>
</div>
	
	
<div class="container_3 pop_up_info">
	<img src="img/dialog_img_1_3.png" alt="" />
	<p>Вследствие «стихийного» развития информационных систем предприятия и применения устаревающих технологий происходит рассредоточение важных данных по вычислительным и информационным ресурсам. В такой ситуации предприятие несет необоснованные затраты на решение основных задач управления данными:</p>
	<ul>
		<li>обеспечение авторизованного доступа к данным;</li>
		<li>защиту данных от несанкционированного доступа;</li>
		<li>управление резервным копированием и архивированием данных;</li>
		<li>расширение дисковой емкости;</li>
		<li>восстановление данных после сбоев.</li>
	</ul>
	<p>
	Системы хранения и обработки данных обеспечивают реализацию задачи обеспечения непрерывности бизнес-процессов и сохранности данных. Решения применимы в организациях с различным уровнем автоматизации и информатизации бизнес-процессов: от компаний в начальной стадии автоматизации до компаний, использующих крупные ERP-системы.
	</p>
</div>


<div class="container_4 pop_up_info">
	<img src="img/dialog_img_1_4.png" alt="" />
	<p>Назначение ЦОД — обеспечение гарантированной безотказной работы информационной системы предприятия с заданными уровнями доступности, надежности, безопасности и управляемости. Использование технологии создания центров обработки данных позволяет создавать резервные штаб-квартиры предприятий с сохранением максимально возможной функциональности информационной системы при чрезвычайных обстоятельствах.</p>
	<h3>Центры обработки данных включают:</h3>
	<ul>
		<li>высоконадежное серверное оборудование;</li>
		<li>системы хранения и передачи данных;</li>
		<li>программное обеспечение;</li>
		<li>архитектурно-технические решения;</li>
		<li>обеспечивающую инженерную инфраструктуру;</li>
		<li>физическую защиту помещений;</li>
		<li>систему мониторинга и управления.</li>
	</ul>
	<h3>Преимущества создания ЦОД:</h3>
	<ul>
		<li>повышение эффективности и надежности эксплуатации вычислительных ресурсов;</li>
		<li>предоставление отказоустойчивых инфраструктурных сервисов в режиме 24 часа х 7 дней в неделю х 365 дней в году;</li>
		<li>простое и прозрачное централизованное администрирование;</li>
		<li>снижение издержек;</li>
		<li>высокий уровень защиты информационной системы;</li>
		<li>централизованное управление и учет ресурсов ЦОД;</li>
		<li>контроль доступа к ЦОД;</li>
		<li>простое и удобное масштабирование вычислительных ресурсов.</li>
	</ul>
</div>


<div class="container_5 pop_up_info">
	<img src="img/dialog_img_1_5.png" alt="" />
	<h3>В основе информационной структуры лежит создание полноценной корпоративной сети и серверной фабрики, совместно обеспечивающих следующие сервисы:</h3>
	<ul>
		<li>cлужбу единого каталога (логическую организацию сети);</li>
		<li>корпоративную почтовую систему;</li>
		<li>планирование ресурсов и календарь;</li>
		<li>сервис файлов и печати;</li>
		<li>защищенный доступ к сети Интернет;</li>
		<li>систему управления сетью;</li>
		<li>систему резервного копирования и восстановления данных;</li>
		<li>систему антивирусной защиты. </li>
	</ul>
	<p>
		Одной из важнейших задач при реализации информационной структуры является обеспечение высокой готовности «вспомогательных сервисов» путем создания избыточности при построении структуры. Современные технологии создания архитектуры крупных распределенных информационных систем позволяют создавать отказоустойчивые и масштабируемые системы с низкой совокупной стоимостью владения.
	</p>
</div>


<div class="container_6 pop_up_info">
	<div style="width:295px; float:left;">
		<img src="img/dialog_img_1_6.png" alt="" style="width:240px; height:240px; margin:0px auto; display:block;"/>
	</div>
	<p>Среди преимуществ использования видеоконференцсвязи – сокращение как временных, так и финансовых затрат предприятия на совещания, командировки, обучения их сотрудников, и в итоге - повышение эффективности бизнеса. По сравнению с обычной телефонной связью, использование видеоконференцсвязи повышает уровень восприятия информации с 20% до 60%, в некоторых случаях – до 80%.</p>
	<p>В зависимости от потребностей заказчика, помещения и канала связи, «МК инжиниринг» предлагает различные типы систем Tandberg, в том числе системы для персонального использования и для использования в переговорных и залах заседаний в нескольких вариантах исполнения.</p>
	<p>Также системы ВКС могут поставляться в составе комплексных и специализированных решений.</p>
</div>


<div class="container_7 pop_up_info">
	<img src="img/dialog_img_1_7.png" alt="" />
	<h3>Мы предлагаем Заказчикам широкий спектр решений по интеграции систем информационной безопасности:</h3>
	<ul>
		<li>системы разграничения доступа к информации;</li>
		<li>системы аутентификации и авторизации;</li>
		<li>средства криптографической защиты информации;</li>
		<li>системы межсетевого экранирования;</li>
		<li>системы контроля электронной почты и web-трафика;</li>
		<li>системы резервного копирования и аварийного восстановления;</li>
		<li>системы сегментирования ЛВС;</li>
		<li>системы антивирусной защиты информации;</li>
		<li>системы мониторинга и обнаружения/предотвращения вторжений;</li>
		<li>системы управления техническими средствами информационной безопасности.</li>
	</ul>
	<p>
		Объединение различных сервисов в рамках единой интегрированной системы безопасности организации позволяет решать вопросы комплексного обеспечения безопасности объекта.
	</p>
</div>


<div class="container_8 pop_up_info">
	<img src="img/dialog_img_1_8.png" alt=""/>
	<p>Для оптимизации затрат на телефонную связь компания  «МК инжириринг»  предлагает построение корпоративных систем обмена голосовыми данными на основе IP телефонии, предоставляет полный набор услуг по установке и настройке IP телефонии (VoIP):</p>
	<ul>
		<li>проектирование локальной сети офиса и проектирование сети IP телефонии</li>
		<li>установка, настройка сетевого оборудования локальной сети, инсталляция оборудования IP телефонии</li>
		<li>обслуживание решений на базе IP телефонии</li>
	</ul>
	<h3>Решения на базе IP телефонии предназначены для выполнения следующих задач: </h3>
	<ul>
		<li>построение централизованных и распределенных сетей с предоставлением интегрированных услуг передачи голоса и данных с использованием технологии пакетной телефонии;</li>
		<li>предоставление интеллектуальных сервисов для предприятий.</li> 
	</ul>
</div>


<div class="container_9 pop_up_info">
	<img src="img/dialog_img_1_9.png" alt=""/>
</div>





<script type="text/javascript">
 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-25746330-1']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();
</script>
</body>
</html>




























